{% extends 'components/modals/base.html' %}

{% block modal_id %}renameProjectModal{% endblock modal_id %}

{% block modal_title %}Rename project{% endblock modal_title %}

{% block modal_content %}

  <form method="POST" action="/project/{{project.id}}/edit/">

    {% csrf_token %}

    <div class="modal-body">
      <label for="projectName" class="form-label">Project name</label>
      <input
        type="text"
        id="projectName"
        name="project-name"
        value="{{project.name}}"
        class="form-control"
        placeholder="Choose a name for your new project..."
      >
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-primary" value="Create">
    </div>

  </form>

{% endblock modal_content %}