{% extends 'base.html' %}

{% block title %}{{project.name}}{% endblock title %}

{% block card_title %}{{project.name}}#{{project.id}} <span class="text-muted">({{logs|length}} logs)</span>{% endblock card_title %}

{% block card_menu %}
  <a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#membersProjectModal">Members</a> |
  <a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Delete Project</a> |
  <a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#newProjectModal">New Project</a>
{% endblock card_menu %}

{% block content %}

  <ul class="list-group" id="log-list">

    {% for log in logs %}
    
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{log.event}}
        <div class="d-flex">
          <span class="text-end text-muted me-3">{{log.created}}</span>
        </div>
      </li>

      {% empty %}

      <p class="text-center">There are no logs in this project.</p>

    {% endfor %}

  </ul>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 2">
    <div id="new-log-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">New Log</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        A new log has been pushed.
      </div>
    </div>
  </div>

  {% include 'components/modals/members_project.html' %}

  {% include 'components/modals/delete_project.html' %}

  <script type="text/javascript">
    const logs = JSON.parse('{{logs|safe}}').reverse();
    
    logs.forEach(({ fields: { event, created }, pk}) => {
      renderLog(event, created, pk);
    });

    function renderLog(event, created, id) {
      const logList = document.getElementById('log-list');
      const options = {
        year: 'numeric',
        month: 'short',
        day: '2-digit',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
      };
      const date = new Date(created).toLocaleDateString('en-US', options);
      const newLog = `
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ${event}
              <div class="d-flex">
                <span class="text-end text-muted me-3">${date}</span>
              </div>
            </li>
      `;
      logList.innerHTML = newLog + logList.innerHTML;
    }
  </script>

  <script type="text/javascript">
    const projectID = {{project.id}};
    const currentPage = {{page.current}};
    const newLogToast = document.getElementById('new-log-toast');

    const logSocket = new WebSocket(
      'ws://localhost:8000'
      + '/ws/project/'
      + projectID
      + '/'
    );

    logSocket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      if (currentPage == 1)
        location.reload();
      else {
        const toast = new bootstrap.Toast(newLogToast);
        toast.show();
      }
        
    };

    logSocket.onclose = function(event) {
      console.error('Chat socket closed unexpectedly');
    };

  </script>

{% endblock content %}