{% extends 'base.html' %}

{% block title %}{{project}}{% endblock title %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-3">
          
          <div class="card mt-3">
            <div class="card-body">

              <h3 class="card-title text-center">{{project}}</h3>

              <nav class="mt-4">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="true">Information</button>
                  <button class="nav-link" id="nav-members-tab" data-bs-toggle="tab" data-bs-target="#nav-members" type="button" role="tab" aria-controls="nav-members" aria-selected="false">Members</button>
                </div>
              </nav>
              <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                  
                  <div class="mb-3">
                    <label for="project-name" class="form-label">Project Name</label>
                    <input
                      readonly
                      value="{{project.name}}"
                      type="text"
                      class="form-control"
                      id="project-name"
                    >
                  </div>
                  
                  <div class="mb-3">
                    <label for="project-id" class="form-label">Project Identifier</label>
                    <input
                      readonly
                      value="{{project.id}}"
                      type="text"
                      class="form-control"
                      id="project-id"
                    >
                  </div>

                </div>
                
                <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-profile-tab">
                  
                  <ul class="list-group">

                    {% for user in project.users.all %}
                      <li class="list-group-item">{{user.username}}</li>
                    {% endfor %}

                  </ul>

                </div>
              
              </div>


            </div>
          </div>

        </div>
        <div class="col">

          <div id="log-list">
          </div>
        
        </div>
      </div>
    </div>
  
  <script type="text/javascript">
    const logs = JSON.parse('{{logs|safe}}').reverse();
    
    logs.forEach(({ fields: { event, created }}) => {
      renderLog(event, created, false);
    });

    function renderLog(event, created, isNew=true) {
      const logList = document.getElementById('log-list');
      const options = {
        year: 'numeric',
        month: 'short',
        day: '2-digit',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
      };
      const date = new Date(created).toLocaleDateString('en-US', options);
      const newLog = `
            <div class="card mt-3">

              <div class="card-body">
                <p class="card-text">${event}</p>
              </div>

              <div class="card-footer text-muted">

                <div class="text-end">${date}</div>

              </div>

            </div>
      `;

      if(isNew) logList.innerHTML = newLog + logList.innerHTML;
      else logList.innerHTML += newLog;
    }
  </script>

  <script type="text/javascript">
    const projectID = {{project.id}};
    const logList = document.getElementById('log-list');

    const logSocket = new WebSocket(
      'ws://localhost:8000'
      + '/ws/project/'
      + projectID
      + '/'
    );

    logSocket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      renderLog(data.log.event, data.log.created);
    };

    logSocket.onclose = function(event) {
      console.error('Chat socket closed unexpectedly');
    };

  </script>

{% endblock content %}