{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>AshLog - {% block title %}{% endblock title %}</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>

    {% include 'components/modals/new_project.html' %}

    <div class="container p-5" style="max-width: 700;">

      <div class="card shadow-sm" x-data="{ open: {{is_search_open}} }">

        <div class="card-header" style="display: inline-block">
          
          <span class="float-start">
            {% block card_title %}{% endblock card_title %}
          </span>

          <span class="float-end">
            {% block card_menu %}{% endblock card_menu %}
          </span>

        </div>

        <div class="card-body">
          
          {% block content %}{% endblock content %}

          <div class="text-muted mt-3">
            {% if page.current != 1 %}
              <a href="?p={{page.current|add:'-1'}}">« previous<a>
            {% endif %}

            page {{page.current}} of {{page.num_pages}}

            {% if page.current < page.num_pages %}
              <a href="?p={{page.current|add:'1'}}">next »</a>
            {% endif %}
          </div>

        </div>

      </div>

      <div class="float-end pt-3 pr-3">
        <a href="/" class="text-dark text-decoration-none">Home</a> |
        <a href="/logout/" class="text-dark text-decoration-none">Log out <span class="text-muted">({{user}})</span></a>
      </div>

      {% include 'components/footer.html' %}

    </div>

  </body>

</html>